@model LabNumber21.Models.RegistrationForm

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    .right{
    text-align: right;
    border: 3px solid green;
    }
</head>
<body>
    <div class="right">
        <h1> Thank you.@Model.FirstName!</h1>
        <p>

            your first name    :  @Model.FirstName<br />
            your last name     :  @Model.LastName<br />
            your  age         :  @Model.Age <br />
            your  gender      :  @Model.Gender<br />
            Type of Study       :  @Model.TypeOfStudy


        </p>
        
        </div>
</body>
</html>
